.pat_auto_translate_icon{
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("pat-icon.png");
    background-size: contain;
    margin: 5px 0;
}

.pat_auto_translate_icon_small{
    width: 20px;
    height: 20px;
    margin: 0px;
}

/* ajax window */
div#TB_ajaxContent {
    display: flex;
    flex-direction: column;
}

div#pat_tb_messages {
    background-color: #fff;
    border: 1px solid grey;
    padding: 3px;
    overflow: scroll;
    flex-grow: 20;
}

div#pat_tb_messages div:nth-of-type(odd) {
    background-color: lightgrey;
}

.pat_tb_bottom {
    text-align: right;
}

button#TB_closeWindowButton {
    position: static;
    background-color: grey;
    margin: 20px;
    padding: 3px;
    width: auto;
    height: auto;
    display: inline;
}

span.pat_spinner.spinner {
    float: none;
}

/* blinking icon in string translations ajax */
.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 2s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

.error{
    background-color: red;
}